code/flows/flows_AlySaleh.local.json
[{"id":"7132d115.f163f","type":"tab","label":"Detect & Store"},{"id":"ee736c81.306ff","type":"tab","label":"Tensor Flow"},{"id":"cca742dd.afe6f","type":"tab","label":"images"},{"id":"53893fdc.99f69","type":"tab","label":"publisher"},{"id":"dd25fb9f.bd72a8","type":"influxdb","z":"7132d115.f163f","hostname":"127.0.0.1","port":"8086","protocol":"http","database":"images","name":""},{"id":"f6bcb1f6.6eb88","type":"influxdb","z":"cca742dd.afe6f","hostname":"127.0.0.1","port":"8086","protocol":"http","database":"images","name":"","usetls":false,"tls":""},{"id":"1d39171f.f7a329","type":"inject","z":"7132d115.f163f","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":true,"x":121.00000762939453,"y":80.0000228881836,"wires":[["bfa42eb4.2233b"]]},{"id":"ea9fe925.bb0928","type":"camerapi-takephoto","z":"7132d115.f163f","filemode":"1","filename":"","filedefpath":"0","filepath":"/home/pi/.node-red/static/","fileformat":"jpeg","resolution":"1","fliph":"0","flipv":"0","brightness":"50","contrast":"0","sharpness":"0","imageeffect":"none","name":"","x":192.00001525878906,"y":205.0000457763672,"wires":[["386249a7.fc83a6","3b24f067.38925"]]},{"id":"89f3cd87.82e16","type":"influxdb out","z":"7132d115.f163f","influxdb":"dd25fb9f.bd72a8","name":"","measurement":"image","x":722.8958969116211,"y":560.2500152587891,"wires":[]},{"id":"d0b405df.35ac98","type":"function","z":"7132d115.f163f","name":"","func":"var data = JSON.parse(msg.payload.data);\nvar t = new Date().getTime();\nmsg.payload={\n    name: data.path,\n    time: t,\n    result:data.result\n}\nreturn msg;","outputs":1,"noerr":0,"x":505.89591789245605,"y":555.7500305175781,"wires":[["89f3cd87.82e16"]]},{"id":"e18aecbc.99e3","type":"function","z":"7132d115.f163f","name":"","func":"\n\nvar payload = {\n    file : msg.payload,\n    data : \"image from server x\",\n    topic: \"NUC\",\n    localOutputResponse: true,\n    endpoint: \"777d0e22.8e3b3\"\n};\n\nmsg.payload = JSON.stringify(payload);\nmsg.headers = {'Content-Type' : 'application/json'} ;\nreturn msg;\nreturn msg;","outputs":1,"noerr":0,"x":222.1180763244629,"y":311.8889751434326,"wires":[["ad833737.1aecc8"]]},{"id":"ad833737.1aecc8","type":"http request","z":"7132d115.f163f","name":"publish","method":"POST","ret":"txt","url":"localhost:8080/publish","tls":"","x":437.6736602783203,"y":317.11117362976074,"wires":[["3b24f067.38925"]]},{"id":"3b24f067.38925","type":"debug","z":"7132d115.f163f","name":"","active":true,"console":"false","complete":"false","x":675.5625610351562,"y":306.55558586120605,"wires":[]},{"id":"bfa42eb4.2233b","type":"exec","z":"7132d115.f163f","command":"python ir-sensor.py","addpay":true,"append":"","useSpawn":true,"timer":"","name":"","x":333.2743110656738,"y":85.0555648803711,"wires":[["ea9fe925.bb0928"],[],[]]},{"id":"386249a7.fc83a6","type":"switch","z":"7132d115.f163f","name":"","property":"payload","propertyType":"msg","rules":[{"t":"regex","v":"/*.jpg","vt":"str","case":false}],"checkall":"true","outputs":1,"x":452.28123474121094,"y":214.16321086883545,"wires":[["e18aecbc.99e3"]]},{"id":"5741352a.da9b6c","type":"http in","z":"7132d115.f163f","name":"","url":"/777d0e22.8e3b3","method":"post","swaggerDoc":"","x":130.7657012939453,"y":463.7500591278076,"wires":[["2eba801a.f79e7","ca11a3e0.d896d","da780972.11bd48","d0b405df.35ac98"]]},{"id":"2eba801a.f79e7","type":"debug","z":"7132d115.f163f","name":"","active":true,"console":"false","complete":"false","x":762.7517547607422,"y":439.84377002716064,"wires":[]},{"id":"ca11a3e0.d896d","type":"http response","z":"7132d115.f163f","name":"","x":362.75873947143555,"y":595.8577346801758,"wires":[]},{"id":"da780972.11bd48","type":"exec","z":"7132d115.f163f","command":"python red-led.py","addpay":true,"append":"","useSpawn":"","timer":"","name":"red led","x":542.7621994018555,"y":497.83336067199707,"wires":[["2eba801a.f79e7"],["2eba801a.f79e7"],["2eba801a.f79e7"]]},{"id":"1b7d4033.db04d","type":"inject","z":"ee736c81.306ff","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":true,"x":229.76565170288086,"y":100.75000381469727,"wires":[["c898e6c7.5891e8"]]},{"id":"c898e6c7.5891e8","type":"function","z":"ee736c81.306ff","name":"init","func":"var time = JSON.stringify({timestamp:msg.payload});\n\nvar payload = {\n    data : \"1cc2586a.afa048\",\n    topic:\"NUC\"\n};\n\nmsg.payload = JSON.stringify(payload);\nmsg.headers = {'Content-Type' : 'application/json'} ;\n\nflow.set('payloadArray', []);\nreturn msg;","outputs":1,"noerr":0,"x":387.53127670288086,"y":96.10939121246338,"wires":[["89f7436.35b42c"]]},{"id":"89f7436.35b42c","type":"http request","z":"ee736c81.306ff","name":"Subscribe","method":"POST","ret":"txt","url":"localhost:8080/subscribe","tls":"","x":565.7656784057617,"y":98.10939407348633,"wires":[["95467c4a.c8943"]]},{"id":"bfa614fb.f09bc8","type":"exec","z":"ee736c81.306ff","command":"java -jar label-image-1.0-SNAPSHOT.jar","addpay":true,"append":"","useSpawn":"","timer":"","name":"","x":562.000244140625,"y":211.5117473602295,"wires":[["173d3cc5.710d23","f9794567.12fc48"],[],[]]},{"id":"be71e63.073a918","type":"http in","z":"ee736c81.306ff","name":"","url":"/1cc2586a.afa048","method":"post","swaggerDoc":"","x":115,"y":202.68751335144043,"wires":[["c193e2f6.38f5d","4f9ba8f3.28b4a8"]]},{"id":"c193e2f6.38f5d","type":"function","z":"ee736c81.306ff","name":"","func":"flow.set('payload', msg.payload);\nmsg.payload =  msg.payload.path ;\nreturn msg;","outputs":1,"noerr":0,"x":318.00000762939453,"y":212.1445484161377,"wires":[["bfa614fb.f09bc8"]]},{"id":"95467c4a.c8943","type":"debug","z":"ee736c81.306ff","name":"","active":true,"console":"false","complete":"false","x":967.0156192779541,"y":193.66798210144043,"wires":[]},{"id":"4f9ba8f3.28b4a8","type":"http response","z":"ee736c81.306ff","name":"","x":102.00784301757812,"y":311.6680030822754,"wires":[]},{"id":"173d3cc5.710d23","type":"switch","z":"ee736c81.306ff","name":"","property":"payload","propertyType":"msg","rules":[{"t":"cont","v":"water bottle","vt":"str"}],"checkall":"true","outputs":1,"x":276.00787353515625,"y":423.1289415359497,"wires":[["c25cbe09.42aea","95467c4a.c8943"]]},{"id":"c25cbe09.42aea","type":"function","z":"ee736c81.306ff","name":"payload","func":"var message = flow.get('payload' );\nvar endpoint = message.publisher_id;\n\nvar dataObject = {\n    path : message.path,\n    result: msg.payload \n}\n\nvar payload = {\n    data : JSON.stringify(dataObject),\n    topic: endpoint\n};\n\nmsg.payload = JSON.stringify(payload);\nmsg.headers = {'Content-Type' : 'application/json'} ;\n\nflow.set('payloadArray', []);\nreturn msg;","outputs":1,"noerr":0,"x":501.7657012939453,"y":420.7500352859497,"wires":[["87b67a2b.b98728","95467c4a.c8943"]]},{"id":"87b67a2b.b98728","type":"http request","z":"ee736c81.306ff","name":"publish","method":"POST","ret":"txt","url":"localhost:8080/publish","tls":"","x":680.0000534057617,"y":419.7500591278076,"wires":[["95467c4a.c8943"]]},{"id":"f9794567.12fc48","type":"switch","z":"ee736c81.306ff","name":"","property":"payload","propertyType":"msg","rules":[{"t":"cont","v":"BEST MATCH","vt":"str"}],"checkall":"true","outputs":1,"x":825.7656364440918,"y":296.74999809265137,"wires":[["95467c4a.c8943"]]},{"id":"db5fb070.9859e","type":"http in","z":"cca742dd.afe6f","name":"GET /images","url":"/images","method":"get","swaggerDoc":"","x":89.625,"y":161.6484432220459,"wires":[["1f883748.114de9"]]},{"id":"1f883748.114de9","type":"influxdb in","z":"cca742dd.afe6f","influxdb":"f6bcb1f6.6eb88","name":"select images","query":"select * from image","x":288.0156784057617,"y":162.07813262939453,"wires":[["32f61b23.4b66e4"]]},{"id":"32f61b23.4b66e4","type":"template","z":"cca742dd.afe6f","name":"","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"{{#payload}}\n<div>\n    <p>{{result}}</p> <p>{{time}}</p>\n    <img src=\"{{name}}\" alt=\"\" />\n</div>\n{{/payload}}","x":457.76565170288086,"y":161.75000286102295,"wires":[["c9a2e6ae.b516c8"]]},{"id":"c9a2e6ae.b516c8","type":"http response","z":"cca742dd.afe6f","name":"","x":657.7616691589355,"y":170.28125,"wires":[]},{"id":"3c694335.2e84cc","type":"template","z":"53893fdc.99f69","name":"","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"<!DOCTYPE html>\n<html lang=\"en\" xmlns=\"http://www.w3.org/1999/html\">\n<head>\n    <meta charset=\"utf-8\">\n    <meta http-equiv=\"X-UA-Compatible\" content=\"IE=edge\">\n    <meta name=\"viewport\" content=\"width=device-width, initial-scale=1\">\n    <title>Publisher</title>\n\n    <!-- Latest compiled and minified CSS -->\n    <link rel=\"stylesheet\" href=\"bootstrap.min.css\"\n          integrity=\"sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u\" crossorigin=\"anonymous\">\n\n    <!-- Optional theme -->\n    <link rel=\"stylesheet\" href=\"bootstrap-theme.min.css\"\n          integrity=\"sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp\" crossorigin=\"anonymous\">\n\n    <!-- Latest compiled and minified JavaScript -->\n    <script src=\"jquery.min.js\">\n    </script>\n    <script src=\"bootstrap.min.js\"\n            integrity=\"sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa\"\n            crossorigin=\"anonymous\"\n            async=\"true\">\n    </script>\n\n</head>\n<body>\n<div class=\"container\">\n\n\n    <form id=\"push\" action=\"localhost:1880/push\" method=\"post\" novalidate>\n        <div class=\"row\">\n\n            <div class=\"col-md-6\">\n                <h4>Computation Meta-data</h4>\n                <div class=\"well form-horizontal\">\n                        <div class=\"form-group\">\n                            <!--<p class=\"lead\"> The amount of computation power needed to execute the flow</p>-->\n                            <label for=\"power\" class=\"col-sm-2 control-label\">Computation Power</label>\n                            <div class=\"col-sm-6\">\n                                <select required=\"required\" id=\"power\" class=\"form-control input-sm\">\n                                    <option value=\"low\">Low</option>\n                                    <option value=\"medium\">Medium</option>\n                                    <option value=\"high\">High</option>\n                                </select>\n                            </div>\n                        </div>\n\n                        <div class=\"form-group\">\n                            <!--<p class=\"lead\"> The amount of free ram needed to execute the flow</p>-->\n                            <label for=\"ram\" class=\"col-sm-2 control-label\">Free ram</label>\n                            <div class=\"col-sm-6\">\n                                <select required=\"required\" id=\"ram\" class=\"form-control input-sm\">\n                                    <option value=\"low\"><500 MB</option>\n                                    <option value=\"medium\">500~1000 MB</option>\n                                    <option value=\"high\">>1000 MB</option>\n                                </select>\n                            </div>\n                        <!--</div>-->\n                    </div>\n                </div>\n\n\n            </div>\n\n            <div class=\"col-md-6\">\n                <h4>Resource Requirements</h4>\n                <div class=\"well\">\n                    <div class=\"checkbox\"><label> <input id=\"camera\" type=\"checkbox\">\n                        Camera </label></div>\n                    <div class=\"checkbox\"><label> <input id=\"temp\" type=\"checkbox\">\n                        Temperature Sensor</label></div>\n                    <div class=\"checkbox\"><label> <input id=\"gas\" type=\"checkbox\">\n                        Gas Sensor </label></div>\n                </div>\n            </div>\n        </div>\n\n\n        <h3>Flow </h3>\n\n\n        <div class=\"well\">\n            <div class=\"row form-horizontal\">\n\n                <div class=\"col-md-6\">\n\n\n\n                    <div class=\"form-group\">\n                        <label for=\"flow\" class=\"col-sm-3 control-label\">Flow Id</label>\n                        <div class=\"col-sm-6\">\n                            <input type=\"text\" required=\"required\" id=\"flow\" class=\"form-control input-sm\">\n                        </div>\n                      </div>\n\n                    <div class=\"form-group\">\n                        <label for=\"input\" class=\"col-sm-3 control-label\">Data Input</label>\n                        <div class=\"col-sm-6\">\n                            <select required=\"required\" id=\"input\" class=\"form-control input-sm\">\n                                <option value=\"none\">None</option>\n                                <option value=\"scampi\">SCAMPI</option>\n                            </select>\n                        </div>\n                    </div>\n\n                    <div class=\"form-group\" id=\"scampi-input\" style=\"display: none\">\n                        <label for=\"input\" class=\"col-sm-3 control-label\">SCAMPI Input Topic</label>\n                        <div class=\"col-sm-6\">\n                            <input  type=\"text\" required=\"required\" id=\"input-topic\" class=\"form-control input-sm\">\n                        </div>\n                    </div>\n\n                </div>\n\n\n\n                <div class=\"col-md-6\" >\n                    <div  class=\"form-group\">\n                        <label>File Dependency</label>\n                        <input id= \"files\" type=\"file\" name=\"file\" multiple >\n                        <p class=\"help-block\">Add data files or scripts from node-red directory</p>\n                    </div>\n\n\n\n                </div>\n\n\n            </div>\n            </div>\n\n        <!-- /#page-wrapper -->\n        <div id= \"success\" style=\"display: none;\" class=\"alert alert-success\" role=\"alert\">...</div>\n        <div id= \"fail\" style=\"display: none;\"class=\"alert alert-danger\" role=\"alert\">...</div>\n\n        <div class=\"form-group well\">\n            <label for=\"submit\" class=\"col-sm-2 control-label\">Push flow to network</label>\n            <button id=\"submit\" type=\"submit\" class=\"btn btn-success\">PUSH</button>\n        </div>\n    </form>\n\n\n</div>\n\n<!-- /#wrapper -->\n\n\n</body>\n<script>\n    $(document).ready(function () {\n\n\n        $( \"#input\" ).change(function() {\n            var value = $(\"#input\").val();\n            if(value === \"scampi\"){\n                $(\"#scampi-input\").show();\n          //      $(\"#database-input\").hide();\n           // }else if(value === \"datastore\") {\n            //    $(\"#scampi-input\").hide();\n             //   $(\"#database-input\").show();\n            }else{\n                $(\"#scampi-input\").hide();\n               // $(\"#database-input\").hide();\n            }\n        });\n//        $( \"#output\" ).change(function() {\n//            var value = $(\"#output\").val();\n//            if(value === \"scampi\"){\n//                $(\"#scampi-output\").show();\n//                $(\"#database-output\").hide();\n//            }else if(value === \"datastore\") {\n//                $(\"#scampi-output\").hide();\n//                $(\"#database-output\").show();\n//            }else{\n//                $(\"#scampi-output\").hide();\n//                $(\"#database-output\").hide();\n//            }\n//        });\n\n//        $(':file').change(function(e){\n//            for(var i =0; i<e.target.files.length;i++){\n//                var fileName = e.target.files[i].name;\n//                alert('The file \"' + fileName +  '\" has been selected.');\n//            }\n//        });\n\n        $(\"#push\").submit(function (event) {\n\n            var files = $('#files').prop(\"files\");\n            var names = $.map(files, function(val) { return val.name; });\n\n            var resources = {\n                camera: $('#camera').is(':checked'),\n                gasSensor: $('#gas').is(':checked'),\n                tempSensor: $('#temp').is(':checked')\n            };\n\n            var metadata = {\n                power: $('#power').val(),\n                ram: $('#ram').val(),\n                resources: resources\n            };\n\n            var input, output;\n            var ioSpec = {};\n\n            if($(\"#input\").val() != \"none\"){\n                 input = {\n                    'topic': $('#input-topic').val(),\n                    'table': $('#input-table').val()\n                };\n                ioSpec['input'] = input;\n            }\n            if($(\"#output\").val() != \"none\"){\n                output = {\n                    'topic': $('#output-topic').val(),\n                    'table': $('#output-table').val()\n                };\n                ioSpec['output'] = output;\n            }\n\n            var json = {\n                'metadata': metadata,\n                flow: $('#flow').val(),\n                'ioSpec': ioSpec,\n                sources: names\n            };\n\n\n            $.ajax({\n                type: \"POST\",\n                url: 'http://localhost:1880/push',\n                //processData: false,\n                data: JSON.stringify(json),\n                contentType: \"application/json\",\n                success: function (data) {\n                    //success message mybe...\n                    if(data.status == \"success\"){\n                        $(\"#fail\").hide();\n                        $(\"#success\").show();\n                    }else{\n                        $(\"#success\").hide();\n                        $(\"#fail\").show();\n                    }\n\n                }\n\n            })\n        });\n\n\n    });\n</script>\n</html>1","x":228,"y":79.00000381469727,"wires":[["e879d209.96c99"]]},{"id":"e879d209.96c99","type":"http response","z":"53893fdc.99f69","name":"","x":372.5,"y":74,"wires":[]},{"id":"a509cbd.16aa438","type":"http in","z":"53893fdc.99f69","name":"","url":"/publish","method":"get","swaggerDoc":"","x":85,"y":79,"wires":[["3c694335.2e84cc"]]},{"id":"c8aa66ce.cf0eb8","type":"http response","z":"53893fdc.99f69","name":"","x":534.3333549499512,"y":405.77777671813965,"wires":[]},{"id":"95ab1b76.837a88","type":"debug","z":"53893fdc.99f69","name":"","active":true,"console":"false","complete":"payload","x":519.4444541931152,"y":331.1111173629761,"wires":[]},{"id":"ca28fa02.a778d8","type":"function","z":"53893fdc.99f69","name":"","func":"var flowId = msg.req.body.flow;\nflow.set('model',msg.req.body);\nmsg.url = 'localhost:1880/flow/'+ flowId;\nreturn msg;","outputs":1,"noerr":0,"x":227.5,"y":216,"wires":[["d7988d1b.45602"]]},{"id":"35bf9603.63b17a","type":"http in","z":"53893fdc.99f69","name":"","url":"/push","method":"post","swaggerDoc":"","x":76.5,"y":216,"wires":[["ca28fa02.a778d8"]]},{"id":"d7988d1b.45602","type":"http request","z":"53893fdc.99f69","name":"","method":"GET","ret":"txt","url":"","tls":"","x":391.5,"y":220,"wires":[["262d3ad0.da8d36"]]},{"id":"262d3ad0.da8d36","type":"function","z":"53893fdc.99f69","name":"","func":"// var model = JSON.stringify(flow.get('model'));\n// model.flow = JSON.stringify(msg.payload);\n// model = model;\n// var payload = { data : model };\n// msg.payload = JSON.stringify(payload);\n\nvar model = flow.get('model');\nmodel.flow = JSON.parse(msg.payload);\n\n\nmsg.payload = JSON.stringify(\n    {\n        'data' : JSON.stringify(model)\n    });\nmsg.headers = {'Content-Type' : 'application/json'} ;\nreturn msg;","outputs":1,"noerr":0,"x":147.1666717529297,"y":316.2222194671631,"wires":[["fc7dcb6c.d56538","95ab1b76.837a88"]]},{"id":"fc7dcb6c.d56538","type":"http request","z":"53893fdc.99f69","name":"","method":"POST","ret":"txt","url":"localhost:8080/publish","tls":"","x":317.7777862548828,"y":394.4444160461426,"wires":[["c8aa66ce.cf0eb8","95ab1b76.837a88"]]}]